@font-face{
    font-family: "OpenSans-regular";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(./fonts/OpenSans-Regular.ttf);
    src: url(./fonts/OpenSans-Regular.woff);
    src: url(./fonts/OpenSans-Regular.woff2);
}
@font-face{
    font-family: "Roboto-bold";
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url(./fonts/Roboto-Bold.ttf);
    src: url(./fonts/Roboto-Bold.woff);
    src: url(./fonts/Roboto-Bold.woff2);
}
@font-face{
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(./fonts/Roboto-Regular.ttf);
    src: url(./fonts/Roboto-Regular.woff);
    src: url(./fonts/Roboto-Regular.woff2);

}
@font-face{
    font-family: "Myriad-Pro";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(./fonts/Myriad-Pro.ttf);
    src: url(./fonts/Myriad-Pro.woff);
    src: url(./fonts/Myriad-Pro.woff2);
}
@font-face{
    font-family: "MyriadPro-Bold";
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url(./fonts/Myriad-Pro-bold.ttf);
    src: url(./fonts/Myriad-Pro-bold.woff);
    src: url(./fonts/Myriad-Pro-bold.woff2);
}
@font-face{
    font-family: "Montserrat-Bold";
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url(./fonts/Montserrat-Bold.ttf);
    src: url(./fonts/Montserrat-Bold.woff);
    src: url(./fonts/Montserrat-Bold.woff2);
}